.boutons_fichiers {

    cursor: pointer; 
    font-family:'El Messiri', sans-serif;
    background: #fdeee2;
    border-radius: 4px;
    border: 1.5px solid black;
    padding: 5px 15px;
    font-size: 15px;

}

.info_fichiers {

    background: #fdeee2;

}
