.wrapper { 
  width: 100%;
  background: #dbe5f1;
  padding: 25px;
    padding-top: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #B0C4DE;
  box-sizing: border-box;
  padding-top: 0px;
  display: grid;
  align-items: center;
  justify-content: center;

} 
  
.wrapper h2 { 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    color: #332902; 
} 
  
.wrapper .input_field { 
    margin-bottom: 10px;
} 
  
.wrapper 
    .input_field 
    input[type="text"], 
.wrapper textarea { 
    border: 1px solid #e0e0e0; 
    font-family:'El Messiri', sans-serif;
    width: 100%; 
    padding: 10px; 
} 
  
.wrapper textarea { 
    resize: none; 
    height: 100px; 

} 
  
.wrapper .btn input[type="submit"] { 
    border: 0px; 
    margin-top: 15px; 
    padding: 10px; 
    text-align: center; 
    width: 450px; 
    background: #301703; 
    color: #fcfbf7; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    font-weight: bold; 
    border-radius: 25px; 
    cursor: pointer; 
    font-family:'El Messiri', sans-serif;
} 

.uga {
  margin-right: 50px;
  margin-left: 10px;
  margin-top: 3px;
}