.logo_partenaires {

  display: flex;
  justify-content: center;

}

.partenaires {

	max-height: 80px;

}

.licence {

  text-decoration: none;
  color: #fdeee2;  

}


footer.top-footer {
    
  background: #301703;
  width:100%;
  text-align: center;
  color: #fdeee2; 
  padding-top: 1px;
  padding-bottom: 1px;
  bottom:0;  /* on le colle en bas */
  border-top: 1px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-style:solid;
  border-color: #301703;
  box-shadow: 0px 0px 20px #301703e0;

}