html, body {

    opacity : 0;
    transition : opacity 1s ease;

    background-color: #fdeee2; 
    padding:0;
    margin:0;   
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'El Messiri', sans-serif;


    --s: 100px; /* control the size */
    --c1: #fdeee2;
    --c2: #f5e7db;
        
    --_g: 
        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
        radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#f5e7db 96%,#0000),
        radial-gradient(100% 100% at 0 100%,#0000, #f5e7db 4%,var(--_g),var(--c1) 96%)
        var(--c1);
    background-size: var(--s) var(--s);   
      
}

.loaded {
  opacity : 1;
}

@font-face {
  font-family: 'El Messiri';
  src: url("../fonts/ElMessiri-VariableFont_wght.ttf");
}

.content {

    margin-left: auto;
    margin-right: auto;
    background-color: #f1e5db;
    padding: 10px;
    width: 979px;
    flex: 1;
    display: table;
    color: #301703; 

}

.titre {

	display: flex;
	justify-content: center;
  color: #301703; 
  line-height: 60px;
  font-family: 'El Messiri', sans-serif;
 
}

.texte {

    vertical-align:middle;
    color: #301703;
    text-align: justify;
    font-size:15px;

}

.textetitre {

    vertical-align:middle;
    color: #301703;
    text-align: justify; 
    font-size:23px;
    font-weight: bold;

}

.logo {
	
  display: flex;
	justify-content: center;
	width: 110px;
	height: 110px;
  margin-left: 20px;
  filter: drop-shadow(1px 3px 3px #301703c1);

}

header {

    height: 100px;
    padding:10px;
    position: relative;

    --s: 140px; /* control the size */
    --c1: #fdeee2;
    --c2: #ead4c1;
        
    --_g: 
        #0000 25%,#ead4c1 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
        var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#ead4c1 553%,#0000 575%;
    --_s: calc(25%/3) calc(25%/4) at 50%; 
    background:
    radial-gradient(var(--_s) 100%,var(--_g)),
    radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
    radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
    repeating-linear-gradient(90deg,#B0C4DE calc(25%/-6) calc(25%/6),#B0C4DE 0 calc(25%/2));
    background-size: var(--s) calc(3*var(--s)/2);
    animation: g4  50s infinite linear;
      }

@keyframes g4 {
to {
        background-position:
        var(--s) 0,
        calc(var(--s)/-2) calc(3*var(--s)/4),
        calc(3*var(--s)/2) 0,
        calc(-1*var(--s)) calc(3*var(--s)/4),
        0 0

    }
} 

/* Barre de navigation */
.menu {

    display: flex;           
    padding:0;                     
    justify-content: center;
    margin: 0px; 
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style:solid;
    border-color: #301703;

}

.menu li {

    list-style-type: none ;
    position: relative;

}

.menu a {

    display:block;                /* Transformation en block */
    min-width: 200px;             /* Largeur minimale des liens */  
    padding: 0.8rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: #301703;  /* Couleur d'arrière-plan */
    color: #fdeee2;             /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    
}

.menu a:hover { 

    background-color: #ead4c1;
    color: #301703;

  }

.menu ul {

    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

.banderole {

    background-color: #301703;
    height: auto;
    padding:0;
    margin:0; 

}

.menu li:hover ul {

    display: block;
    position: absolute;
    top: auto;
    z-index: 100;

}

.fleur {

	width: 30px;

}

.jeu {

	width: 30px;

}

.commun {

  width: 30px;

}

footer {
    
    background: #301703;
    width:100%;
    text-align: center;
    color: #fdeee2; 
    padding-top: 1px;
    padding-bottom: 1px;
    bottom:0;  /* on le colle en bas */
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style:solid;
    border-color: #301703;

}

.arrondie {

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

#barre_recherche {

  text-align: center;

}

@import "bourbon";

.login-wrapper {

  width: 160px;
  margin: 40px auto 0;

}

table, td, th {

  border: 1px solid black;
  text-align:center

}

table {

  width: 100%;
  border-collapse: collapse;

}

button[id="login-button"] {

  padding: 8px 15px;
  width: 160px;
  border: 0;
  outline: 0;
  top: 15px;
  right: 20px;
  width: 160px;
  position:absolute;
  color: #fff;
  background: #301703;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 4px 0 darken(#301703, 5%);
  font-family: 'El Messiri', sans-serif;
  &:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 darken(#301703, 5%);
  }

}

.login-container {

  position: absolute;
  right: 20px;
  width: 160px;
  top:45px;
  
    font-family: 'El Messiri', sans-serif;

}

input:placeholder-shown {

  font-style: italic;

}

.login-form {

  display: none;
  padding: 20px;
  margin-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f1e5db;
  box-shadow: 0 4px 0 darken(#ddd, 5%);}

  .login-form input {
  
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #B0C4DE;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .login-form input[type="submit"] {
  
    width: 103%;
    color: #ffF;
    background: #301703;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#301703, 5%);
  
  }
  
  @include keyframes(slide) {
  
    0% {
      opacity: 0;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  
  }
  
  .open {
  
    @include animation(slide 1s);
    display: block;
  
  }


  @import "bourbon";

.login-wrapper {

  width: 160px;
  margin: 40px auto 0;

}

table, td, th {

  border: 1px solid black;
  text-align:center

}

table {

  width: 100%;
  border-collapse: collapse;

}

button[id="login-button"] {

  padding: 8px 15px;
  width: 160px;
  border: 0;
  outline: 0;
  top: 15px;
  right: 20px;
  width: 160px;
  position:absolute;
  color: #fff;
  background: #301703;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 4px 0 darken(#301703, 5%);
  font-family: 'El Messiri', sans-serif;
  &:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 darken(#301703, 5%);
  }

}

.login-container {

  position: absolute;
  right: 20px;
  width: 160px;
  top:45px;
  
    font-family: 'El Messiri', sans-serif;

}

input:placeholder-shown {

  font-style: italic;

}

.login-form {

  display: none;
  padding: 20px;
  margin-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f1e5db;
  box-shadow: 0 4px 0 darken(#ddd, 5%);}

  .login-form input {
  
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #B0C4DE;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .login-form input[type="submit"] {
  
    width: 103%;
    color: #ffF;
    background: #301703;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#301703, 5%);
  
  }
  
  @include keyframes(slide) {
  
    0% {
      opacity: 0;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  
  }
  
  .open {
  
    @include animation(slide 1s);
    display: block;
  
  }


@import "bourbon";

.login-wrapper {

  width: 160px;
  margin: 40px auto 0;

}

table, td, th {

  border: 1px solid black;
  text-align:center

}

table {

  width: 100%;
  border-collapse: collapse;

}

button[id="login-button_connecte"] {

  padding: 8px 15px;
  width: 160px;
  border: 0;
  outline: 0;
  top: 15px;
  right: 20px;
  width: 160px;
  position:absolute;
  color: #fff;
  background: #301703;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 4px 0 darken(#301703, 5%);
  font-family: 'El Messiri', sans-serif;
  &:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 darken(#301703, 5%);
  }

}

.login-container_connecte {

  position: absolute;
  right: 20px;
  width: 160px;
  top:45px;
  
    font-family: 'El Messiri', sans-serif;

}

input:placeholder-shown {

  font-style: italic;

}

.login-form_connecte {

  display: none;
  padding: 20px;
  margin-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f1e5db;
  box-shadow: 0 4px 0 darken(#ddd, 5%);}

  .login-form_connecte input {
  
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #B0C4DE;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .login-form_connecte input[type="submit"] {
  
    width: 103%;
    color: #ffF;
    background: #301703;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#301703, 5%);
  
  }
  
  @include keyframes(slide) {
  
    0% {
      opacity: 0;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  
  }
  
  .open_connecte {
  
    @include animation(slide 1s);
    display: block;
  
  }


  @import "bourbon";

.login-wrapper_connecte {

  width: 160px;
  margin: 40px auto 0;

}

table, td, th {

  border: 1px solid black;
  text-align:center

}

table {

  width: 100%;
  border-collapse: collapse;

}

button[id="login-button"] {

  padding: 8px 15px;
  width: 160px;
  border: 0;
  outline: 0;
  top: 15px;
  right: 20px;
  width: 160px;
  position:absolute;
  color: #fff;
  background: #301703;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 4px 0 darken(#301703, 5%);
  font-family: 'El Messiri', sans-serif;
  &:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 darken(#301703, 5%);
  }

}

.login-container {

  position: absolute;
  right: 20px;
  width: 160px;
  top:45px;
  
    font-family: 'El Messiri', sans-serif;

}

input:placeholder-shown {

  font-style: italic;

}

.login-form {

  display: none;
  padding: 20px;
  margin-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f1e5db;
  box-shadow: 0 4px 0 darken(#ddd, 5%);}

  .login-form input {
  
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #B0C4DE;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .login-form input[type="submit"] {
  
    width: 103%;
    color: #ffF;
    background: #301703;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#301703, 5%);
  
  }
  
  @include keyframes(slide) {
  
    0% {
      opacity: 0;
      @include transform(translateY(20px));
    }
    100% {
      opacity: 1;
      @include transform(translateY(0));
    }
  
  }
  
  .open {
  
    @include animation(slide 1s);
    display: block;
  
  }

  .button_1 {

    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #B0C4DE;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  
  }

  .button_2 {

    width: 100%;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    background: #301703;
    color: #fff;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'El Messiri', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
  
  }