.thematiqueseule {

    margin: 15px;
    padding: 1.0rem 2.0rem 1.0rem 2.0rem;
    background-color: #ead4c1;
    box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	line-height: 1.1rem;
}

ol.thematiqueseule {
    filter: blur(0.00rem) saturate(80%) opacity(85%);
    transition: transform 200ms ease-in-out, filter 400ms ease-in-out;
}

ol.thematiqueseule:hover {
    backface-visibility: hidden;
    filter: blur(0px) saturate(110%) opacity(100%);
}

div.mots_donnees:hover ol.thematiqueseule:not(:hover) { 
    transform: scale(0.95) translateZ(0) perspective(1px);
    backface-visibility: hidden;
    filter: blur(0.04rem) saturate(65%) opacity(65%);
}

.resultats, .resultats_donnees {

    width: 600px;  
    margin: 15px;
    padding: 6px;
    background-color: #ead4c1;

}

.similaires {

    background-color: #ead4c1;
    width: 280px;
    margin: 15px;
    padding: 6px;
    
}

.similaires_donnees {

    background-color: #ead4c1;
    width: 280px;
    margin: 15px;
    padding: 6px;

}



.mots_donnees {

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

hr {

    height: 1px;
    margin: -0.5em 0;
    background-color: #fdeee2;
    border-color: #fdeee2;

    
}


.definition {

    border-radius: 4px;
    padding: 5px;
    background-color:  #e8cab0;

}

h3 {

    border-radius: 4px;
    border: thick double #B0C4DE;
    padding: 5px 15px;
    background:#e8bf9b;

}

a.mot_titre {
    color: #301703;
    cursor: pointer; 
    text-decoration: none;
}

#synonyme, #etymo, #origine, #theme, #pron, #exemple {

    padding: 5px;
    text-decoration: underline overline black;

}

.defmot {

    background-color:     #e8bf9b;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;

}


/* PAGINATION */

.pagination {
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: center;
}

/* Pagination links */
.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
border-radius: 4px;
transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
background-color: #301703;
color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ead4c1;} 

#scroll_top_btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #e8bf9b; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 50px;
    opacity: 0.8;
  }
  
  #scroll_top_btn:hover {
    background-color: #301703; /* Add a dark-grey background on hover */
  }

#titre_resultats {
    
    padding: 5px;
    text-decoration: underline overline black;
    
}

#export_data_select {

    cursor: pointer; 
    font-family:'El Messiri', sans-serif;
    background: #fdeee2;
    border-radius: 4px;
    border: 1.5px solid black;
    font-size: 15px;
    
}